.block_of_code span.comment
{
    color: #B3B3B3
}
.block_of_code span.type
{
    color: #0dade2;
}
.block_of_code span.keyword 
{
    color: #ba1414
}
.block_of_code span.function
{
    color: #0dade2;
}
.block_of_code span.symbole
{
    color: whitesmoke;
}
.block_of_code span.string
{
    color: #d2d450
}
.block_of_code span.value
{
    color: #c36706
}
.block_of_code span.include /* Par exemple : #include "stdio.h"*/
{
    color: orange;
}

.block_of_code span.declaration /* Par exemple : "int main", "float rest"*/
{
    color: #0dade2;
}