h1 {
    font-size: 70pt;
    color: blue;
}
h2 {
    font-family: impact;
    font-style: 50px;
}
a {
    padding: 5px 8px;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    border-style: solid;
    border-width: 2px;
    color: green;
}
a:hover{ background-color:aqua; }
a:active{ background-color: red; }
a:visited{ background-color:rgb(131, 36, 219);}
a:normal{ background-color: yellow; }
